 body,span,p{
     font-family: Roboto,sans-serif;
 }
 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
     
    font-family: rubik,sans-serif;
    
}
/* .menu .container-fluid,banar .{
    max-width: 1150px;
}  */


/* menu */


.won-menu {}
.won-menu li{}
.won-menu li a{
    list-style: none;
    color: #111;
    padding: 10px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: .5s;
}
.won-menu li:hover > a{
    color: #e83b3e;
}

.header-info{}
.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
.btn-danger{
    position: relative;
    z-index: 1;
    background-color: #e73c3e;
}
.btn-danger::after{
    content: "";
    top: 0;
    left: 0;
    height: 100%; 
    width: 0%;
    background: #111;
    position: absolute;
    z-index: -1;
    transition: .5s;

}
.btn-danger:hover::after{
    width: 100%;
}
.btn-danger:hover{
    border-color:  #111;
}




/* dropdown menu */


.aro{
    font-size: 10px;
}
.won-menu li{
    position: relative;
}
.won-menu li ul.home-page{
    position: absolute;
    width: 150px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.won-menu li ul.home-page li{
    flex-direction: column;
    margin: 10px;
    
}
.won-menu li .home-page li a{
    text-decoration: none;
    padding: 20px 0px;
     
     
}
.won-menu li:hover  ul{
    visibility: visible;
    opacity: 1;
     
}
.won-menu li .home-page li:hover a{
    /* padding:  10px 0; */
    color: #e83b3e;
    letter-spacing: 2px;
   
}
.won-menu li .home-page li .last-drop{
    position: absolute;
    width: 150px;
    right: 130px;
    top: 0%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.won-menu li .home-page li .last-drop li{
    flex-direction: column;
    margin: 10px;
}
.won-menu li .home-page li .last-drop li a{
    text-decoration: none;
    padding: 20px 0px;
}
.won-menu li .home-page li:hover .last-drop{
    visibility: visible;
    opacity: 1;
    letter-spacing: 2px;
}
.won-menu li .home-page li:hover .last-drop:hover a{
    /* padding:  10px 0; */
    color: #e83b3e;  
    letter-spacing: 2px;
}
.won-menu li{
    position: relative;
}
.won-menu li .survice{
    position: absolute;
    width: 150px;
    left: 0px;
    top:160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.won-menu .survice li{
    flex-direction: column;
    margin: 10px;
}
.won-menu .survice li a{
    text-decoration: none;
    padding: 20px 0px;
}
.won-menu li:hover ul{
    visibility: visible;
    opacity: 1;
    

}

.h:hover{ padding:  10px 0;
    color: #e83b3e;

}
.won-menu li .survice li:hover a{
    letter-spacing: 2px;
}
 

/* banar */


.slider-section{
    background: url(./main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-content h6{
    color: #e73a3e;
}
.slider-content h1 {
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}

.header-social{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li{}
.header-social ul li span {
	font-size: 18px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}
.header-social ul li span::after {
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 51%;
}
.header-social ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 14px;
    color: #111;
    font-size: 19px;
}
